<?xml version="1.0" ?>
<model>
    <name>Push_to_Open_Button</name>
    <version>1.0</version>
    <sdf version="1.7">button.sdf</sdf>
    <author>
        <name>Rahgir Arefin Rafi</name>
        <email>rahgirrafi@gmail.com</email>
    </author>
    <description>A common push to open button model</description>
</model>